// FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

// VARIABLES IMPORT
@import 'variables.scss';

// GLOBAL STYLES
*{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: $font;
    margin: 0px;
    font-size: $big;
}
ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}
input{
    width: 250px;
    height: 45px;
    padding: .5rem 1rem;
    margin: .5rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.341);
    color: white;
    font-family: $font !important;
    &::placeholder{
        color: rgba(255, 255, 255, 0.681);
        font-family: $font;
    }
    &.default{
        border-radius: $radius;
    }
}
button{
    font-family: $font;
    font-size: 1rem;
    transition: transform ease-in-out 0.15s;
    border: none;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            font-weight: $black;
        }
    &.btn{
        width: 250px !important;
        height: 50px !important;
    }    
    &.primarybtn{
        background: $blue-gradient;
        color: white;
        padding: .5rem 2rem;
        border-radius: $radius;
    }
    &.baselinebtn{
      color: white;
      background: $blue-gradient;
      padding: .5rem 1rem;
      border-radius: $radius;
    }
}
a{
    font-family: $font;
    transition: transform ease-in-out 0.15s;
    border: none;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        } 
}

// GENERIC PAGE STRUCTURE
.page-container{
    width: 100vw;
    height: 100vh;
    &.abstract{
        background: $abstract-bg;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.teamwhite{
        background: $team-white-bg;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.lautaro-blue{
        background: $lautaro-blue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.c{
        background: $full-team;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.sansiro{
        background: $sansiro;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.scudetto{
        background: $scudetto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.orange{
        background: $orange;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-content{
        width: 100vw;
        height: 100vh;
        color: white;
        &.blurred{
            background: $blue-transparent-bg;
            backdrop-filter: blur(10px);
        }
        &.centered{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        display: flex;
        flex-direction: column;
        .header-container{
            .header-content{
                height: 70px;
                width: 100vw;
                padding: 2rem;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center !important;
                .logo{
                    font-size: 1.5rem;
                    margin-top: 0rem;
                }
                .menu{
                   ul{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    li{
                        margin: .5rem;
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 1rem;
                        }
                    }
                   }
                }
            }
        }
    }
}

// MEDIA and IMAGES STYLES
#ermes-avatar{
    border-radius: $round;
    width: 100px;
    height: 100px;
}
// LOGO
.logo{
    font-style: italic;
    font-size: $giant;
    font-weight: $black;
    margin-top: 1rem;
}

// LOGIN PAGE
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    margin-top: 1.5rem;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #login-btn{
            margin-top: 2rem;
        }
    }
}
.options-container{
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .options-content{
        display: flex;
        .option-item{
            width: 14rem;
            height: 14rem;
            margin: 1rem;
            display: flex;
            text-decoration: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: $huge;
            border-radius: $radius;
            &#calendario{
                background: url("https://tinyurl.com/3wj953eu");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#formazioni{
                background: url("https://tinyurl.com/7bdu93tb");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#pagelle{
                background: url("https://tinyurl.com/4et9rmhz");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#scouting{
                background: url("https://tinyurl.com/mr2ety32");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

// CALENDAR PAGE
.calendar-container{
    .calendar-content{
        height: calc(100vh - 70px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #competizioni{
            display: flex;
            align-items: center;
            li{
                margin: 1rem;
                padding: .5rem;
                background: white;
                width: 100px;
                height: 150px;
                border-radius: $bigradius;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 10rem;
                height: 12rem;
                a{
                    background: none;
                    color: white;
                    font-size: $big;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        transform: scale(1.05);
                        cursor: pointer;
                        font-weight: $black;
                    }
                    img{
                        width: 100px;
                        height: 130px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

// PAGINA CALENDARIO SERIE A
.fixtures-container{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    .fixtures-content{
        width: 100%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .match-container{
            width: 80%;
            margin: auto;
            padding: 1.5rem;
            background: $blue-gradient;
            border-radius: $radius;
            display: grid;
            grid-template-columns: 20% 60% 20%;
            justify-content: center     ;
            align-items: center;
            text-align: center;
            .date-container{
                width: fit-content;
                display: flex;
                flex-direction: column;
                color: white;
                text-align: left;
            }
            .game-details{
                width: 20rem;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                text-align: center;
                .vs{
                    text-transform: uppercase;
                    font-style: italic;
                    color: white;
                }
                .first-team, .second-team{
                    display: flex;
                    flex-direction: column;
                    margin: 0rem 1rem;
                    .team-name{
                        font-size: $big;
                        color: white;
                        font-weight: $black;
                        text-transform: uppercase;
                    }
                    .team-logo{
                        margin-top: .5rem;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
            .home-away-container{
                color: white;
                text-align: right;
            }
        }
        .score-container{
            width: fit-content;
            display: flex;
            justify-content: center;
            .score-content{
                display: flex;
                justify-content: center;
                padding: 1rem;
                .home-team-score, .separator, .away-team-score{
                    margin: 0rem 1rem .5rem 1rem;
                    color: white;
                }
            }
        }
        .ctas-container{
            width: fit-content;
            margin-bottom: 5rem;
            a{
                width: 10rem;
                padding: .5rem;
                background: white;
                border-radius: $radius;
                color: black;
                text-decoration: none;
                font-size: $small;
            }
        }
    }
}

// TEMPLATE FORMAZIONE

.formazione-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .match-header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        .competition{
            img{
                width: 30px;
                margin-bottom: .5rem;
                padding-bottom: 1rem;
                border-bottom: 1px dashed rgb(85, 76, 209);
            }
        }
        .match-header-content{
            display: flex;
            justify-content: center;
            align-items: center;
            .vs{
                font-size: $big;
            }
            .home-team-container, .away-team-container{
                margin: auto;
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                    margin: 0rem 1rem;
                }
                .team-name{
                    font-size: $huge;
                    font-weight: $black;
                }
            }
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            background: $blue-transparent-bg;
            border-radius: $radius;
            .stadium, .schedule{
                margin: 1rem;
                font-size: 1rem;
            }
        }
    }
    .formazione-content{
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        .formazione-list-container{
            margin: 1rem;
            .formazione-list-content{
                .formazione-list-header{
                    display: flex;
                    align-items: center;
                    .team-name{
                        margin-left: 1rem;
                        font-weight: $black;
                    }
                }
                .formazione-list-rooster{
                    .players-container{
                        margin-top: .5rem;
                        .players-content{
                            display: flex;
                            flex-direction: column;
                            .player{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: .3rem .5rem;
                                border-radius: $radius;
                                background: $blue-gradient;
                                width: 25rem;
                                margin: .2rem auto;
                                &.capitano{
                                    background: rgba(2, 42, 221, 0.7);
                                }
                                .player-img-name{
                                    display: flex;
                                    align-items: center;
                                    img{
                                        width: 44px;
                                    }
                                    .player-name{
                                        margin-left: .5rem;
                                        font-size: 1rem;
                                    }
                                }
                                .player-details{
                                    .player-number{
                                        font-size: $huge;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .formazione-display-container{
            margin: 0rem 2rem;
            .formazione-display-content{
                .canvas-wrapper{
                    padding: 1rem;
                    // background: $pitch-bg;
                    border-radius: $radius;
                    backdrop-filter: blur(5px);
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    #lineup{
                        background: none;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        #pitch {
                            position: relative;
                            width: 450px;
                            height: 650px;
                        }
                        
                        .player {
                            position: absolute;
                            width: 70px; /* Size of player images */
                            height: 70px; /* Size of player images */
                            cursor: grab;
                        }
                        
                        .player.dragging {
                            cursor: grabbing;
                        }
                        
                        .player-name {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            color: white;
                            font-size: 12px;
                            background: rgba(0, 0, 0, 0.5);
                            padding: 2px 5px;
                            border-radius: 3px;
                        }
                        
                    }
                }
            }
        }
    }
}

// PAGELLE
.pagelle-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .pagelle-content{
        width: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: center;
        .partita-container{
            background: $blue-gradient;
            padding: 1rem;
            border-radius: $radius;
            margin: 1rem;
            width: 20rem;
            .partita-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .top{
                    font-size: $small;
                    margin-bottom: .5rem;
                    text-align: center;
                }
                .middle{
                    display: flex;
                    align-items: center;
                    img{
                        width: 64px;
                        margin: 1rem;
                    }
                }
                .bottom{
                    margin-bottom: 1rem;
                    a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: black;
                        background: white;
                        border-radius: $radius;
                        padding: .3rem;
                    }
                }
            }
        }
    }
}

// PAGELLA
.pagella-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .match-header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        .competition{
            img{
                width: 30px;
                margin-bottom: .5rem;
                padding-bottom: 1rem;
                border-bottom: 1px dashed rgb(85, 76, 209);
            }
        }
        .match-header-content{
            display: flex;
            justify-content: center;
            align-items: center;
            .vs{
                font-size: $big;
            }
            .home-team-container, .away-team-container{
                margin: auto;
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                    margin: 0rem 1rem;
                }
                .team-name{
                    font-size: $huge;
                    font-weight: $black;
                }
            }
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            background: $blue-transparent-bg;
            border-radius: $radius;
            .stadium, .schedule{
                margin: 1rem;
                font-size: 1rem;
            }
        }
    }
    .pagella-content{
        display: grid;
        grid-template-columns: 50% 50%;
        width: fit-content;
        margin: auto;
        align-items: center;
        padding-bottom: 5rem;
        .pagella-list{
            display: flex;
            flex-direction: column;
            .pagella-giocatore{
                width: 30rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem 1rem;
                background: $bgnerazzurro;
                margin: .2rem auto;
                border-radius: $bigradius;
                .player{
                    display: flex;
                    align-items: center;
                    img{
                        width: 50px;
                        border-radius: $round;
                        margin-right: 1rem;
                    }
                    .player-text{
                        .player-name{
                            font-size: 1.2rem;
                            font-weight: $black;
                        }
                        .player-comment{
                            display: none;
                            font-size: 1rem;
                        }
                    }
                }
                .voto{
                    font-size: $huge;
                    font-weight: $black;
                    margin-right: 1rem;
                }
            }
        }
        .highlights{
            display: flex;
            flex-direction: column;
            #top-performer{
                background: linear-gradient(272.82deg, rgba(34, 165, 134, 0.8) 5.45%, rgba(20, 58, 231, 0.8) 104.4%);
                padding: 1rem 2rem;
                border-radius: $bigradius;
                .top-performer-details{
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    img{
                        width: 80px;
                        margin-right: 2rem;
                    }
                }
            }
            #low-performer{
                background: linear-gradient(272.82deg, rgba(68, 22, 22, 0.8) 5.45%, rgba(20, 58, 231, 0.8) 104.4%);
                padding: 1rem 2rem;
                border-radius: $bigradius;
                margin-top: 1rem;
                .low-performer-details{
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    img{
                        width: 80px;
                        margin-right: 2rem;
                    }
                }
            }
            #trainer{
                background: $dark-transparent;
                padding: 1rem 2rem;
                border-radius: $bigradius;
                margin-top: 1rem;
                .trainer-performer-details{
                    display: flex;
                    align-items: center;
                    img{
                        width: 80px;
                        margin-top: 1rem;
                        margin-right: 2rem;
                    }
                    .trainer-notes{
                        display: flex;
                        align-items: center;
                        .voto{
                            font-size: $huge;
                            font-weight: $black;
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
}