// FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

// VARIABLES IMPORT
@import 'variables.scss';

// GLOBAL STYLES
*{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: $font;
    margin: 0px;
    font-size: $big;
}
ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}
input{
    width: 250px;
    height: 45px;
    padding: .5rem 1rem;
    margin: .5rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.341);
    color: white;
    font-family: $font !important;
    &::placeholder{
        color: rgba(255, 255, 255, 0.681);
        font-family: $font;
    }
    &.default{
        border-radius: $radius;
    }
}
button{
    font-family: $font;
    font-size: 1rem;
    transition: transform ease-in-out 0.15s;
    border: none;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            font-weight: $black;
        }
    &.btn{
        width: 250px !important;
        height: 50px !important;
    }    
    &.primarybtn{
        background: $blue-gradient;
        color: white;
        padding: .5rem 2rem;
        border-radius: $radius;
    }
    &.baselinebtn{
      color: white;
      background: $blue-gradient;
      padding: .5rem 1rem;
      border-radius: $radius;
    }
}
a{
    font-family: $font;
    transition: transform ease-in-out 0.15s;
    border: none;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        } 
}

// GENERIC PAGE STRUCTURE
.page-container{
    width: 100vw;
    height: 100vh;
    &.abstract{
        background: $abstract-bg;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.teamwhite{
        background: $team-white-bg;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.lautaro-blue{
        background: $lautaro-blue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.c{
        background: $full-team;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.sansiro{
        background: $sansiro;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.scudetto{
        background: $scudetto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-content{
        width: 100vw;
        height: 100vh;
        color: white;
        &.blurred{
            background: $blue-transparent-bg;
            backdrop-filter: blur(10px);
        }
        &.centered{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        display: flex;
        flex-direction: column;
        .header-container{
            .header-content{
                height: 70px;
                width: 100vw;
                padding: 2rem;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center !important;
                .logo{
                    font-size: 1.5rem;
                    margin-top: 0rem;
                }
                .menu{
                   ul{
                    list-style: none;
                    display: flex;
                    li{
                        margin: .5rem;
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 1rem;
                        }
                    }
                   }
                }
            }
        }
    }
}

// MEDIA and IMAGES STYLES
#ermes-avatar{
    border-radius: $round;
    width: 100px;
    height: 100px;
}
// LOGO
.logo{
    font-style: italic;
    font-size: $giant;
    font-weight: $black;
    margin-top: 1rem;
}

// LOGIN PAGE
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    margin-top: 1.5rem;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #login-btn{
            margin-top: 2rem;
        }
    }
}
.options-container{
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .options-content{
        display: flex;
        .option-item{
            width: 14rem;
            height: 14rem;
            margin: 1rem;
            display: flex;
            text-decoration: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: $huge;
            border-radius: $radius;
            &#calendario{
                background: url("https://tinyurl.com/3wj953eu");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#formazioni{
                background: url("https://tinyurl.com/7bdu93tb");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#pagelle{
                background: url("https://tinyurl.com/4et9rmhz");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &#scouting{
                background: url("https://tinyurl.com/mr2ety32");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

// CALENDAR PAGE
.calendar-container{
    .calendar-content{
        height: calc(100vh - 70px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #competizioni{
            display: flex;
            align-items: center;
            li{
                margin: 1rem;
                padding: .5rem;
                background: white;
                width: 100px;
                height: 150px;
                border-radius: $bigradius;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 10rem;
                height: 12rem;
                a{
                    background: none;
                    color: white;
                    font-size: $big;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        transform: scale(1.05);
                        cursor: pointer;
                        font-weight: $black;
                    }
                    img{
                        width: 100px;
                        height: 130px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.fixtures-container{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    .fixtures-content{
        width: 100%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .match-container{
            width: 80%;
            margin: 1rem auto;
            padding: 1.5rem;
            background: $blue-gradient;
            border-radius: $radius;
            display: grid;
            grid-template-columns: 20% 60% 20%;
            justify-content: center;
            align-items: center;
            text-align: center;
            .date-container{
                width: fit-content;
                display: flex;
                flex-direction: column;
                color: white;
                text-align: left;
            }
            .game-details{
                width: 20rem;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                text-align: center;
                .vs{
                    text-transform: uppercase;
                    font-style: italic;
                    color: white;
                }
                .first-team, .second-team{
                    display: flex;
                    flex-direction: column;
                    margin: 0rem 1rem;
                    .team-name{
                        font-size: $big;
                        color: white;
                        font-weight: $black;
                        text-transform: uppercase;
                    }
                    .team-logo{
                        margin-top: .5rem;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
            .home-away-container{
                color: white;
                text-align: right;
            }
        }
    }
}