@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-start: 0px;
  padding-block-end: 0px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  margin: 0px;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

input {
  width: 250px;
  height: 45px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.341);
  color: white;
  font-family: "Sofia Sans Semi Condensed", sans-serif !important;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.681);
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
input.default {
  border-radius: 8px;
}

button {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 1rem;
  transition: transform ease-in-out 0.15s;
  border: none;
}
button:hover {
  transform: scale(1.05);
  cursor: pointer;
  font-weight: 900;
}
button.btn {
  width: 250px !important;
  height: 50px !important;
}
button.primarybtn {
  background: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}
button.baselinebtn {
  color: white;
  background: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

a {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  transition: transform ease-in-out 0.15s;
  border: none;
}
a:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.page-container {
  width: 100vw;
  height: 100vh;
}
.page-container.abstract {
  background: url("https://tinyurl.com/mt6xfj49");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.teamwhite {
  background: url("https://tinyurl.com/286vcncx");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.lautaro-blue {
  background: url("https://tinyurl.com/mr2ety32");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.c {
  background: url("https://intermilan.bynder.com/transform/2f0214aa-3247-4c26-93db-b6c7787f22b8/FC-Internazionale-Official-Team-Photo?quality=100&io=transform:fill,width:1920&format=webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.sansiro {
  background: url("https://images.unsplash.com/photo-1693517343607-e7dced201648?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.scudetto {
  background: url("/assets/scudetto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container.orange {
  background: url("/assets/team-orange.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container .page-content {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.page-container .page-content.blurred {
  background: rgba(2, 42, 221, 0.7);
  backdrop-filter: blur(10px);
}
.page-container .page-content.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container .page-content .header-container .header-content {
  height: 70px;
  width: 100vw;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.page-container .page-content .header-container .header-content .logo {
  font-size: 1.5rem;
  margin-top: 0rem;
}
.page-container .page-content .header-container .header-content .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.page-container .page-content .header-container .header-content .menu ul li {
  margin: 0.5rem;
}
.page-container .page-content .header-container .header-content .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

#ermes-avatar {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.logo {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 1rem;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  margin-top: 1.5rem;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form form #login-btn {
  margin-top: 2rem;
}

.options-container {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options-container .options-content {
  display: flex;
}
.options-container .options-content .option-item {
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  border-radius: 8px;
}
.options-container .options-content .option-item#calendario {
  background: url("https://tinyurl.com/3wj953eu");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.options-container .options-content .option-item#formazioni {
  background: url("https://tinyurl.com/7bdu93tb");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.options-container .options-content .option-item#pagelle {
  background: url("https://tinyurl.com/4et9rmhz");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.options-container .options-content .option-item#scouting {
  background: url("https://tinyurl.com/mr2ety32");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.calendar-container .calendar-content {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar-container .calendar-content #competizioni {
  display: flex;
  align-items: center;
}
.calendar-container .calendar-content #competizioni li {
  margin: 1rem;
  padding: 0.5rem;
  background: white;
  width: 100px;
  height: 150px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 12rem;
}
.calendar-container .calendar-content #competizioni li a {
  background: none;
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-container .calendar-content #competizioni li a:hover {
  transform: scale(1.05);
  cursor: pointer;
  font-weight: 900;
}
.calendar-container .calendar-content #competizioni li a img {
  width: 100px;
  height: 130px;
  object-fit: contain;
}

.fixtures-container {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.fixtures-container .fixtures-content {
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixtures-container .fixtures-content .match-container {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
  background: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fixtures-container .fixtures-content .match-container .date-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}
.fixtures-container .fixtures-content .match-container .game-details {
  width: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
}
.fixtures-container .fixtures-content .match-container .game-details .vs {
  text-transform: uppercase;
  font-style: italic;
  color: white;
}
.fixtures-container .fixtures-content .match-container .game-details .first-team, .fixtures-container .fixtures-content .match-container .game-details .second-team {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
.fixtures-container .fixtures-content .match-container .game-details .first-team .team-name, .fixtures-container .fixtures-content .match-container .game-details .second-team .team-name {
  font-size: 1.3rem;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}
.fixtures-container .fixtures-content .match-container .game-details .first-team .team-logo, .fixtures-container .fixtures-content .match-container .game-details .second-team .team-logo {
  margin-top: 0.5rem;
}
.fixtures-container .fixtures-content .match-container .game-details .first-team .team-logo img, .fixtures-container .fixtures-content .match-container .game-details .second-team .team-logo img {
  width: 50px;
}
.fixtures-container .fixtures-content .match-container .home-away-container {
  color: white;
  text-align: right;
}
.fixtures-container .fixtures-content .score-container {
  width: fit-content;
  display: flex;
  justify-content: center;
}
.fixtures-container .fixtures-content .score-container .score-content {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.fixtures-container .fixtures-content .score-container .score-content .home-team-score, .fixtures-container .fixtures-content .score-container .score-content .separator, .fixtures-container .fixtures-content .score-container .score-content .away-team-score {
  margin: 0rem 1rem 0.5rem 1rem;
  color: white;
}
.fixtures-container .fixtures-content .ctas-container {
  width: fit-content;
  margin-bottom: 5rem;
}
.fixtures-container .fixtures-content .ctas-container a {
  width: 10rem;
  padding: 0.5rem;
  background: white;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.formazione-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.formazione-container::-webkit-scrollbar {
  display: none;
}
.formazione-container .match-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.formazione-container .match-header-container .competition img {
  width: 30px;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgb(85, 76, 209);
}
.formazione-container .match-header-container .match-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formazione-container .match-header-container .match-header-content .vs {
  font-size: 1.3rem;
}
.formazione-container .match-header-container .match-header-content .home-team-container, .formazione-container .match-header-container .match-header-content .away-team-container {
  margin: auto;
  display: flex;
  align-items: center;
}
.formazione-container .match-header-container .match-header-content .home-team-container img, .formazione-container .match-header-container .match-header-content .away-team-container img {
  width: 60px;
  margin: 0rem 1rem;
}
.formazione-container .match-header-container .match-header-content .home-team-container .team-name, .formazione-container .match-header-container .match-header-content .away-team-container .team-name {
  font-size: 1.8rem;
  font-weight: 900;
}
.formazione-container .match-header-container .details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: rgba(2, 42, 221, 0.7);
  border-radius: 8px;
}
.formazione-container .match-header-container .details .stadium, .formazione-container .match-header-container .details .schedule {
  margin: 1rem;
  font-size: 1rem;
}
.formazione-container .formazione-content {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}
.formazione-container .formazione-content .formazione-list-container {
  margin: 1rem;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-header {
  display: flex;
  align-items: center;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-header .team-name {
  margin-left: 1rem;
  font-weight: 900;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container {
  margin-top: 0.5rem;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content {
  display: flex;
  flex-direction: column;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
  background: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
  width: 25rem;
  margin: 0.2rem auto;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player.capitano {
  background: rgba(2, 42, 221, 0.7);
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player .player-img-name {
  display: flex;
  align-items: center;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player .player-img-name img {
  width: 44px;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player .player-img-name .player-name {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.formazione-container .formazione-content .formazione-list-container .formazione-list-content .formazione-list-rooster .players-container .players-content .player .player-details .player-number {
  font-size: 1.8rem;
}
.formazione-container .formazione-content .formazione-display-container {
  margin: 0rem 2rem;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper {
  padding: 1rem;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper #lineup {
  background: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper #lineup #pitch {
  position: relative;
  width: 450px;
  height: 650px;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper #lineup .player {
  position: absolute;
  width: 70px; /* Size of player images */
  height: 70px; /* Size of player images */
  cursor: grab;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper #lineup .player.dragging {
  cursor: grabbing;
}
.formazione-container .formazione-content .formazione-display-container .formazione-display-content .canvas-wrapper #lineup .player-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 3px;
}

.pagelle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.pagelle-container::-webkit-scrollbar {
  display: none;
}
.pagelle-container .pagelle-content {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.pagelle-container .pagelle-content .partita-container {
  background: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
  width: 20rem;
}
.pagelle-container .pagelle-content .partita-container .partita-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagelle-container .pagelle-content .partita-container .partita-content .top {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.pagelle-container .pagelle-content .partita-container .partita-content .middle {
  display: flex;
  align-items: center;
}
.pagelle-container .pagelle-content .partita-container .partita-content .middle img {
  width: 64px;
  margin: 1rem;
}
.pagelle-container .pagelle-content .partita-container .partita-content .bottom {
  margin-bottom: 1rem;
}
.pagelle-container .pagelle-content .partita-container .partita-content .bottom a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  background: white;
  border-radius: 8px;
  padding: 0.3rem;
}

.pagella-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.pagella-container::-webkit-scrollbar {
  display: none;
}
.pagella-container .match-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.pagella-container .match-header-container .competition img {
  width: 30px;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed rgb(85, 76, 209);
}
.pagella-container .match-header-container .match-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagella-container .match-header-container .match-header-content .vs {
  font-size: 1.3rem;
}
.pagella-container .match-header-container .match-header-content .home-team-container, .pagella-container .match-header-container .match-header-content .away-team-container {
  margin: auto;
  display: flex;
  align-items: center;
}
.pagella-container .match-header-container .match-header-content .home-team-container img, .pagella-container .match-header-container .match-header-content .away-team-container img {
  width: 60px;
  margin: 0rem 1rem;
}
.pagella-container .match-header-container .match-header-content .home-team-container .team-name, .pagella-container .match-header-container .match-header-content .away-team-container .team-name {
  font-size: 1.8rem;
  font-weight: 900;
}
.pagella-container .match-header-container .details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: rgba(2, 42, 221, 0.7);
  border-radius: 8px;
}
.pagella-container .match-header-container .details .stadium, .pagella-container .match-header-container .details .schedule {
  margin: 1rem;
  font-size: 1rem;
}
.pagella-container .pagella-content {
  display: grid;
  grid-template-columns: 50% 50%;
  width: fit-content;
  margin: auto;
  align-items: center;
  padding-bottom: 5rem;
}
.pagella-container .pagella-content .pagella-list {
  display: flex;
  flex-direction: column;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: linear-gradient(268.33deg, rgba(63, 78, 148, 0.5) 1.36%, rgba(0, 0, 0, 0.5) 70.42%);
  margin: 0.2rem auto;
  border-radius: 24px;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore .player {
  display: flex;
  align-items: center;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore .player img {
  width: 50px;
  border-radius: 100px;
  margin-right: 1rem;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore .player .player-text .player-name {
  font-size: 1.2rem;
  font-weight: 900;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore .player .player-text .player-comment {
  display: none;
  font-size: 1rem;
}
.pagella-container .pagella-content .pagella-list .pagella-giocatore .voto {
  font-size: 1.8rem;
  font-weight: 900;
  margin-right: 1rem;
}
.pagella-container .pagella-content .highlights {
  display: flex;
  flex-direction: column;
}
.pagella-container .pagella-content .highlights #top-performer {
  background: linear-gradient(272.82deg, rgba(34, 165, 134, 0.8) 5.45%, rgba(20, 58, 231, 0.8) 104.4%);
  padding: 1rem 2rem;
  border-radius: 24px;
}
.pagella-container .pagella-content .highlights #top-performer .top-performer-details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagella-container .pagella-content .highlights #top-performer .top-performer-details img {
  width: 80px;
  margin-right: 2rem;
}
.pagella-container .pagella-content .highlights #low-performer {
  background: linear-gradient(272.82deg, rgba(68, 22, 22, 0.8) 5.45%, rgba(20, 58, 231, 0.8) 104.4%);
  padding: 1rem 2rem;
  border-radius: 24px;
  margin-top: 1rem;
}
.pagella-container .pagella-content .highlights #low-performer .low-performer-details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagella-container .pagella-content .highlights #low-performer .low-performer-details img {
  width: 80px;
  margin-right: 2rem;
}
.pagella-container .pagella-content .highlights #trainer {
  background: linear-gradient(272.82deg, rgb(34, 58, 165) 0%, rgba(20, 59, 231, 0.328) 100%);
  padding: 1rem 2rem;
  border-radius: 24px;
  margin-top: 1rem;
}
.pagella-container .pagella-content .highlights #trainer .trainer-performer-details {
  display: flex;
  align-items: center;
}
.pagella-container .pagella-content .highlights #trainer .trainer-performer-details img {
  width: 80px;
  margin-top: 1rem;
  margin-right: 2rem;
}
.pagella-container .pagella-content .highlights #trainer .trainer-performer-details .trainer-notes {
  display: flex;
  align-items: center;
}
.pagella-container .pagella-content .highlights #trainer .trainer-performer-details .trainer-notes .voto {
  font-size: 1.8rem;
  font-weight: 900;
  margin-right: 2rem;
}

/*# sourceMappingURL=main.css.map */
