// FONTS
$font: "Sofia Sans Semi Condensed", sans-serif;

// GRADIENTS
$blue-gradient: linear-gradient(268.33deg, #223AA5 1.36%, #12226D 70.42%);
$blue-transparent-bg: rgba(2, 42, 221, 0.7);
$dark-transparent: linear-gradient(272.82deg, rgb(34, 58, 165) 0%, rgba(20, 59, 231, 0.328) 100%);
$bgnerazzurro: linear-gradient(268.33deg, rgba(63, 78, 148, 0.5) 1.36%, rgba(0, 0, 0, 0.5) 70.42%);
$pitch-bg: linear-gradient(180deg, rgba(18, 77, 73, 0.8) 0%, rgba(16, 153, 137, 0.8) 100%);

// IMAGERY
$abstract-bg: url('https://tinyurl.com/mt6xfj49');
// Team
$team-white-bg: url('https://tinyurl.com/286vcncx');
$full-team: url('https://intermilan.bynder.com/transform/2f0214aa-3247-4c26-93db-b6c7787f22b8/FC-Internazionale-Official-Team-Photo?quality=100&io=transform:fill,width:1920&format=webp');
$scudetto: url('/assets/scudetto.png');
$sansiro: url('https://images.unsplash.com/photo-1693517343607-e7dced201648?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
// Players
$dimarco-white: url('https://tinyurl.com/4et9rmhz');
$bastoni-blue: url('https://tinyurl.com/5xff49hb');
$lautaro-blue: url('https://tinyurl.com/mr2ety32');

// FONT SIZES
$xsmall: .5rem;
$xsmall: .6rem;
$small: .8rem;
$normal: 1rem;
$big: 1.3rem;
$huge: 1.8rem;
$giant: 2.5rem;
$xxl: 3rem;
$jumbo: 3.5rem;
$supersize: 5rem;
$extreme: 6rem;

// FONT-WEIGHTS
$light: 300;
$regular: 400;
$bold: 600;
$xbold: 700;
$black: 900;

// RADIUS
$small-radius: 2px;
$radius: 8px;
$bigradius: 24px;
$round: 100px;